@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.burger-icon {
  display: flex;
  flex-direction: column;
}

.burger-bar {
  border: 2px solid var(--border-color);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 30px;
}
