.button {
  width: 210;
  height: 60;
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #615b56;
}
