@use "/src/styles/variables" as *;

.contactForm input {
  width: 30vw;
  height: 50px;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  background-color: #ededed;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.contactForm textarea {
  width: 30vw;
  height: 150px;
  resize: none;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  background-color: #ededed;
  padding: 1rem;
  margin-bottom: 2rem;
}

.costum-toast {
  font-size: 16px;
  font-family: $primary-font, sans-serif;
  color: var(--text-color);
}
