.dot-menu-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  margin: 2px 0;
}
