@use "/src/styles/variables" as *;

.cross-line {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--exit-cross-border-color);
  transform-origin: center;
}

.invertedDarkMode {
  background-color: var(--exit-cross-border-color-inverted);
}

.cross-line-1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross-line-2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
