@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.navBarButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
  color: var(--text-color);

  @include respond-to("tablet") {
    font-size: 24px;
    font-weight: 800;
  }

  @include respond-to("mobile") {
    font-size: 24px;
    font-weight: 800;
  }
}

.navBarButton:hover {
  color: var(--secondary-color);
}
