@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  background-color: var(--project-card-bg-color);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  @include respond-to("tablet") {
    width: 40vw;
  }

  @include respond-to("mobile") {
    width: 100%;
  }
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card .head {
  width: 100%;
  height: 220px;
}

.project-card .head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .body {
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  background-color: var(--primary-color);
}

.project-card .body p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-card .body ul {
  padding: 0;
}

.project-card .body li {
  margin: 0;
  margin-left: 1rem;
}

.project-card .default-title-bar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.project-card .heading {
  font-weight: 800;
}

.project-card .button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.project-card .description {
  font-size: 14px;
}

.project-card .default-menu {
  animation: fadeIn-default-menu 1s ease-in-out;
}

.project-card .popup {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #ededed;
  border-radius: 16px;
  animation: fadeIn-popup 1s ease-in-out;
  color: var(--card-text-color);
}

.project-card .exit-title-bar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-card .exit-logo-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.project-card .exit-logo-bar img {
  width: 30px;
  height: 30px;
  padding-left: 0.5rem;
}

@keyframes fadeIn-default-menu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn-popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
