@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.standard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  //height: 25vh;
  background-color: #ededed;
  border-radius: 16px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
  color: var(--card-text-color);

  @include respond-to("mobile") {
    width: 100%;
  }
}

.standard-card:hover {
  transform: scale(1.05);
}

.standard-card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 800;
  padding: 1rem;
  box-sizing: border-box;

  @include respond-to("mobile") {
    padding: 0.5rem;
  }
}

.standard-card-head p {
  @include respond-to("mobile") {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 14px;
    font-weight: 800;
  }
}

.standard-card-head a {
  cursor: pointer;
}

.standard-card-head img {
  width: 48px;
  height: auto;
}

.standard-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  //height: 13vh;
  font-size: 14px;
}

.standard-card-body ul {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}

.standard-card-body li {
  margin: 0;
  margin-left: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.standard-card-body-caption {
  font-size: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
}
