.standard-card {
  width: 25vw;
  height: 25vh;
  background-color: #ededed;
  border-radius: 16px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.standard-card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 800;
}

.standard-card-head img {
  width: 48px;
  height: auto;
}

.standard-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  height: 13vh;
  font-size: 14px;
}

.standard-card-body ul {
  padding: 0;
}

.standard-card-body li {
  margin: 0;
  margin-left: 1rem;
}

.standard-card:hover {
  transform: scale(1.05);
}

.standard-card-body-caption {
  font-size: 12px;
}
