@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  justify-items: center;

  @include respond-to("tablet") {
    text-align: center;
  }

  @include respond-to("mobile") {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    text-align: center;
    gap: 1rem;
  }
}

.footer > button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer .img-button {
  transition: transform 0.6s;
}

.footer .img-button:hover {
  transform: rotate(360deg);
  //transform: rotateY(360deg);
}

.footer .arrow-button {
  transition: transform 0.3s ease;
}

.footer .arrow-button:hover {
  transform: scale(1.2);
}

.footer-logo {
  width: 5vw;
  height: auto;

  @include respond-to("mobile") {
    width: 25vw;
  }
}

.heart-symbol {
  color: red;
}

.footer > p {
  @include respond-to("mobile") {
    font-size: 14px;
  }
}
