@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "first second third";
  align-items: center;
  justify-items: center;
  margin-bottom: 5rem;
  width: 100%;

  @include respond-to("mobile") {
    margin-bottom: 2rem;
  }
}

.header-logo {
  width: 7vw;
  height: auto;

  @include respond-to("mobile") {
    width: 25vw;
  }
}

.header .logo-button {
  background: none;
  border: none;
  cursor: pointer;
}

.header > button {
  transition: transform 0.6s;
}

.header .logo-button:hover {
  transform: rotate(360deg);
  //transform: rotateY(360deg);
}

.header .first-component {
  justify-self: start;
  grid-area: first;

  @include respond-to("mobile") {
    justify-self: center;
    grid-area: second;
  }
}

.header .second-component {
  justify-self: center;
  grid-area: second;

  @include respond-to("tablet") {
    justify-self: end;
    grid-area: third;
  }

  @include respond-to("mobile") {
    justify-self: end;
    grid-area: third;
  }
}

.header .third-component {
  justify-self: end;
  grid-area: third;

  @include respond-to("tablet") {
    justify-self: center;
    grid-area: second;
  }

  @include respond-to("mobile") {
    justify-self: start;
    grid-area: first;
  }
}
