@use "/src/styles/variables" as *;

.header {
  display: flex;
  align-items: center; // Vertical allignment of items in flexbox
  justify-content: space-between;
  margin-bottom: 5rem;
}

.header-logo {
  width: 7vw;
  height: auto;
}

.header > button {
  background: none;
  border: none;
  cursor: pointer;
}

.header > button {
  transition: transform 0.6s;
}

.header > button:hover {
  transform: rotate(360deg);
  //transform: rotateY(360deg);
}
