@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.about {
  margin-bottom: 5rem;
}

.about h1 {
  @include respond-to("mobile") {
    text-align: center;
  }
}

.about-flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;

  @include respond-to("mobile") {
    flex-direction: column;
    align-items: center;
  }
}

.about-flexbox .flex-item-1 {
  order: 1;

  @include respond-to("mobile") {
    order: 2;
  }
}

.about-flexbox .flex-item-2 {
  order: 2;
  align-self: center;

  @include respond-to("mobile") {
    order: 1;
  }
}

.about-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;

  @include respond-to("mobile") {
    width: 60vw;
    height: 60vw;
    margin-bottom: 2rem;
  }

  @include respond-to("tablet") {
    width: 40vw;
    height: 40vw;
  }
}

.about-text {
  text-align: justify;
  margin-right: 15vw;

  @include respond-to("mobile") {
    margin-right: 0;
  }
}
