.about {
  margin-bottom: 5rem;
}

.about-flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

.about-img {
  width: 500;
  height: 500;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  text-align: justify;
  margin-right: 15vw;
}
