.contact {
  margin-bottom: 5rem;
}

.contactFlexbox {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 2rem;
}

.contactFlexboxRight {
  margin-left: 30vw;
}

.contactFlexboxRight h2 {
  margin-bottom: 1rem;
}

.contactIconsContainer {
  display: flex;
}

.contactIcon img {
  width: 50px;
  height: auto;
  margin-top: 1rem;
  padding-right: 1rem;
  transition: transform 0.3s ease;
}

.contactIcon img:hover {
  transform: scale(1.2);
}
