@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.experience {
  margin-bottom: 5rem;
}

.experience .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 5rem;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;

  @include respond-to("mobile") {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

.experience .card-small-text {
  font-size: 10px;
}
