.home {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-img {
  width: 500;
  height: 500;
  border-radius: 50%;
  object-fit: cover;
}

.home-text {
  text-align: left;
  margin-right: 15vw;
}

.home h1 {
  margin-bottom: 1rem;
}
