.home {
  margin-bottom: 5rem;
}

.home-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.home-img {
  width: 500;
  height: 500;
  border-radius: 50%;
  object-fit: cover;
}

.home-text {
  text-align: left;
  margin-right: 15vw;
}

.home h1 {
  margin-bottom: 1rem;
}

.home h2 {
  margin-bottom: 4rem;
}

.home-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .arrow-button {
  background: none;
  cursor: pointer;
  animation: scaleButton 2s infinite;
}

@keyframes scaleButton {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
