@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  @include respond-to("mobile") {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.navbar li {
  margin-left: 2rem;
  margin-right: 2rem;

  @include respond-to("mobile") {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
