@use "/src/styles/variables" as *;

.resumeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.resumeButton:hover {
  color: var(--secondary-color);
}

.downloadIcon {
  width: 20px;
  height: 20px;
  padding-left: 0.3rem;
}
