@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;

.skills {
  margin-bottom: 5rem;
}

.skills h1 {
  @include respond-to("mobile") {
    text-align: center;
  }
}

.all-skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;

  @include respond-to("mobile") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.skill-container img {
  width: 60px;
  height: auto;
  padding-bottom: 0.5rem;
  transition: transform 0.3s ease;
}

.skill-container img:hover {
  transform: scale(1.2);
}

.skill-container > p {
  font-weight: 600;
}
